<!-- Navbar -->
<nav class="navbar justify-content-between">
    <div class="navbar-content">
        <button class="btn btn-light" type="button" onclick="halfmoon.toggleSidebar()">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span class="sr-only">Toggle sidebar</span> <!-- sr-only = show only on screen readers -->
        </button>
    </div>
    <!-- Navbar brand -->
    <a href="{% url 'blog:post_list' %}" class="navbar-brand">
        Blog
    </a>
    <button class="btn btn-action" type="button" onclick="toggleDemo()">
        <i class="far fa-moon" aria-hidden="true"></i>
        <span class="sr-only">Toggle DarkMode</span> <!-- sr-only = show only on screen readers -->

    </button>
</nav>